@model IEnumerable<Clinica.Models.Medicos>

@{
    ViewBag.Title = "Consultar Medicos";
}

<h2>Consultar Medicos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.IdMedico }) 
        </td>
    </tr>
}

</table>
